:where(acdh-ch-calendar) {
	display: grid;
	gap: 2rem;
}

:where(acdh-ch-calendar-year-picker div[role="radiogroup"]) {
	align-items: center;
	display: inline-flex;
	flex-wrap: wrap;
	gap: 0.25rem 0.5rem;
}

:where(acdh-ch-calendar-year-picker label) {
	align-items: center;
	column-gap: 0.25rem;
	display: inline-flex;
}

:where(acdh-ch-calendar-year-picker label input[type="radio"]) {
	margin: 0;
}

:where(acdh-ch-calendar-year-picker label input[type="radio"]:disabled + span) {
	cursor: not-allowed;
}

:where(acdh-ch-calendar-year) {
	align-items: start;
	display: flex;
	flex-wrap: wrap;
	font-size: 0.875rem;
	gap: 2rem;
	user-select: none;
}

:where(acdh-ch-calendar-year caption) {
	font-weight: 600;
	margin-block-end: 1rem;
}

:where(acdh-ch-calendar-year td) {
	padding: 1px;
}

:where(acdh-ch-calendar-year td > *) {
	background-color: var(--calendar-cell-color);
	border-radius: var(--calendar-cell-radius, 100%);
	color: var(--calendar-cell-color-foreground);
	font-weight: 500;
	line-height: 2rem;
	padding: 0;
	text-align: center;
	width: 2rem;
}

:where(acdh-ch-calendar-year td > button) {
	appearance: none;
	border: none;
	cursor: pointer;
	font-size: inherit;
	position: relative;
}

:where(acdh-ch-calendar-year td > button[data-event-kinds]) {
	--calendar-cell-color: hsl(330deg 100% 71%);
	--calendar-cell-color-foreground: hsl(0deg 0% 100%);
}

:where(acdh-ch-calendar-year td > button[data-event-kinds])::after {
	background-color: inherit;
	border-radius: inherit;
	color: inherit;
	content: attr(data-events-count);
	display: grid;
	font-size: 0.75rem;
	height: 1.25rem;
	line-height: 1;
	place-content: center;
	position: absolute;
	right: -0.625rem;
	top: -0.5rem;
	width: 1.25rem;
}
